body, html {
    height: 100%;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%vw; /* Ocupa 100% da largura da viewport */
    height: 100%vw;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.3);
    border: 3px solid rgb(238, 255, 0);
}

.background-image {
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
}

.canvas {
    border: 3px solid rgb(238, 255, 0); /* Borda amarela para o canvas */
    display: block; /* Garante que o canvas seja um bloco */
    width: 100%; /* Ocupa toda a largura do container */
    height: 100%; /* Ocupa toda a altura do container */
    box-sizing: border-box; /* Inclui border na largura e altura */

}

h1 {
    font-size: 2em;
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 20px;
}
