{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title> {% block title %} {% endblock title %} </title>
    {% bootstrap_css %}
    {% block stylesheet %} {% endblock stylesheet %}
</head>

<body>
    <main>
         <!-- Conteúdo dinâmico será injetado aqui %} -->
        {% block content %} {% endblock content %}
    </main>   
 </body>

{% block scripts %}
    {% bootstrap_javascript %}
    <script type="module" src="{% static 'js/spa.js' %}"></script>
{% endblock scripts %}

</html>
