/* main.css */

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Cor de fundo escura */
    color: #fff; /* Cor do texto branca */
}

.container {
    max-width: 800px; /* Largura máxima do conteúdo */
    margin: 0 auto; /* Centralizar o conteúdo horizontalmente */
    padding: 20px; /* Espaçamento interno */
}

/* Estilos para o jogo Pong */
#canvas {
    display: block;
    margin: 0 auto; /* Centralizar o canvas horizontalmente */
    background-color: #000; /* Cor de fundo preta */
}

/* Outras regras de estilo para o jogo Pong... */
